{% extends "base.html" %}

{% block title %}cadastrar produto{% endblock %}

{% block content %}
<h1>cadastro de produto</h1>

<form action="/produtos" method="POST">
    <label for="nome">Nome</label><br>
    <input type="text" name="nome" id="nome"><br>

    <label for="descricao">descricao</label><br>
    <textarea name="descricao" id="descricao" cols="30" rows="10"></textarea><br>

    <label for="preco">Preco</label><br>
    <input type="text" name="preco" id="preco"><br>

    <label for="imagem">URL da Imagem</label><br>
    <input type="text" name="imagem" id="imagem"><br>    
    
    <button type="submit">Cadastrar</button>
</form>
{% endblock %}
